# =========================================================
# RAWG API
# =========================================================
RAWG_API_KEY=your_rawg_api_key_here

# =========================================================
# Azurite (local Azure Blob Storage emulator)
# =========================================================
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;
AZURE_STORAGE_ACCOUNT_NAME=devstoreaccount1
AZURE_STORAGE_ACCOUNT_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
AZURE_BLOB_ENDPOINT=http://127.0.0.1:10000/devstoreaccount1

# =========================================================
# Spark
# =========================================================
SPARK_MASTER=local[*]

# =========================================================
# DuckDB
# =========================================================
DUCKDB_PATH=./data.duckdb
